html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: white;
}
a:active,
a:hover {
  outline-width: 0;
}

html {
  font: 112.5%/1.45em "Arial Narrow", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: white;
  background: hsla(0, 0%, 0%, 0.99);
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
